<h2>Register</h2>
<form>
	<div class="container">
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" placeholder="Enter Email">
		</div>
		<div class="form-group">
			<label for="biography">Biography</label>
			<textarea rows="4" cols="4" class="form-control" id="biography" placeholder="Enter Biography"></textarea>
		</div>
		<div class="form-group">
			<label for="dob">DOB</label>
			<input type="date" class="form-control" id="lastName" placeholder="Enter DOB">
		</div>
		<div class="form-group">
			<label for="teamId">Team</label>
			<select id="teamId" class="form-control ">
				<option>Please Select..</option>
				<option value="1">Atlanta Hawks</option>
				<option value="2">Boston Celtics</option>
				<option value="3">Chicago Bulls</option>
				<option value="4">Miami Heat</option>
				<option value="5">Charlotte Hornets</option>
			</select>
		</div>
		<div class="form-group">
			<label for="heightInFeet">Height</label>
			<input type="date" class="form-control" id="lastName" placeholder="Enter DOB">
		</div>
	</div>
</form>